.activities {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  grid-auto-rows: auto;
  row-gap: 0;
  background-color: #3c210f;
  border: 3px dashed white;
  border-radius: 5%;
    margin-block: 4%;
}

.actTitle {
  color: #c3e3ff;
  font-size: 100%;
  grid-column: 1;
  grid-row: 1;
  text-align: end;
    padding-right: 4%;
  font-family: unset;
  align-self: center;
}

.actSTitle {
    text-align: end;
    grid-column: 2/ -1;
    grid-row: 1;
    font-size: 90%;
    text-align: left;
    padding-right: 1%;
    padding-left: 1%;
    /*! font-family: unset; */
    align-self: center;
}

.actDesc {
    grid-column: 1/ -1;
    grid-row: 2;
    border: 3px #2d190c solid;
    margin-inline: 7%;
    background: #2d190c;
    border-radius: 10px; 
    
}

.rating {
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    margin-inline: 5%;
    border: 2px solid gold;
    background: #1a1a1a;
    opacity: 100%;
    border-radius: 5px;
    font-size: 75%;
}

.progressBar {
    grid-column: 1/-1;
    grid-row: 3;
    margin-inline: 5%;
}

.completion {
    grid-column: 3;
    grid-row: 4;
}

/* ACTIVITY LAYOUT */

.activityLayout{
    display: none;
    z-index: 8;
    position: fixed;
}

#actTimerContainer {
    display: flex;
    position: fixed;
    top: 31%;
    right: 4%;
    font-size: 150%;
    border: 3px solid #50280a;
    background: #713b17;
    border-radius: 9px;
    padding-inline: 2%;
    /*! margin-block: -0.6%; */
    /*! bottom: 60%; */
    color: wheat;
}

#prBar {
    position: fixed;
    top: 31.8%;
    left: 4%;
    border: 3px #50280a solid;
    background: #713B17;
    border-radius: 2%;
    padding: 0.4%;
    border-radius: 12px;
    /*! bottom: 60%; */
}

#msButtons {
    position: fixed;
    top: 46%;
    left: 4.5%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 91%;
    height: 44%;
    row-gap: 16%;
}

#actButton1 {
    grid-column: 1;
    grid-row: 1;
}

#actButton2 {
    grid-column: 3;
    grid-row: 1;
}

#actButton3 {
    grid-column: 1;
    grid-row: 2;
}

#actButton4 {
    grid-column: 3;
    grid-row: 2;
}

.actButton {
    color: white;
    font-family: PinkChicken;
    font-weight: 800;
    font-size: 20px;
    background: #4d2e1b;
    background-size: cover;
    border: dashed 3px #fff;
    border-radius: 22px;
}

.actButton.highlight {
    animation: highlightAnimation 1s linear 5;
}

@keyframes highlightAnimation {
    0% {
        background: #4d2e1b;
    }
    50% {
        background: #b48263;
    }
    100% {
        background: #4d2e1b;
    }
}

.startButton {
    padding: 15%;
    display: flex;
    align-content: center;
    margin-inline: 0%;
    justify-content: left;
}

.actStartButton {
    padding-inline: 35%;
    border: 4px solid #ffd9ab;
    border-radius: 25px;
    background: #ffd9ab;
    font-size: 100%;
    font-family: PinkChicken;
    color: black;
}

.ratingNTM {
    grid-column: 2/-1;
    text-align: center;
    height: min-content;
    font-size: 90%;
    margin-inline: 16%;
    align-self: center;
    padding-block: 4%;
    border: 2px solid gold;
    background: #1a1a1a;
    opacity: 100%;
    border-radius: 5px;
    grid-row: 3;
}


.startButtonNTM {
    display: flex;
    grid-row: 3;
    padding-inline: 0%;
    width: min-content;
    font-size: 16px;
    margin-inline: 14%;
    padding: 15%;
    align-content: center;
    justify-content: left;
    padding: 0;
}

.recordNTM {
    grid-column: 1/-1;
    padding-inline: 7%;
    font-size: 75%;
    border: 3px #152904 solid;
    text-align: center;
    background: #182b08;
    border-radius: 10px;
    margin-inline: 4%;
    grid-row: 4;
}