.animContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 6;
    top: 10%;
    left: -96%;
    height: 19%;
    width: 24%;
    padding: 1%;
    transform-origin: right;
  }

.animObj {
    position: relative;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background-color: #FFF;
    
}

#animLine1 {
    animation-name: draw-line1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: left;
    transform: rotate(-15deg);
    top: 350%;
}

#animLine2 {
    top: -73%;
    animation-name: draw-line2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: left;
    transform: rotate(15deg);
}

#animLine3 {
    top: 130%;
    border: solid 0px #FFF;    
    animation-name: draw-line3;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center;
}

@keyframes draw-line1 {
    0% {
        width: 0;
    }
    50% {
        width: 536%;
    }
    100% {
        width: 1200%;
    }
}
@keyframes draw-line2 {
    0% {
        width: 0;
    }
    50% {
        width: 536%;
    }
    100% {
        width: 1200%;
    }
}
@keyframes draw-line3 {
    0% {
        width: 0;
    }
    50% {
        width: 1133%;
    }
    70% {
        background-color: #ffffff00;
    }
    100% {
        width: 1133%;
        border: solid 24px white;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 50%;
    } 
}