@font-face {
  font-family: PinkChicken;
  src: url(../media/fonts/PinkChicken-Regular.ttf);
}

body {
  font-family: PinkChicken;
  font-weight: 400;
}

p {
  text-align: center;
}

#mainContent {
  margin: 1%
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

#controlButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
    margin: 10px !important;
    padding: 10px;
    background-color: lightgray;
}

.functionButton {
  margin-left: 1%;
  margin-right: 1%;
}

#commentBox {
  display: flex;
  background-color: gray;
  color:white;
  font-size: 150%;
}

#keyboardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.keyboardButton {
  font-size: larger;
  border: 10%;
  background-color: bisque;
  border-style: dotted;
  border-color: aquamarine;
}