@font-face {
  font-family: PinkChicken;
  src: url(../media/fonts/PinkChicken-Regular.ttf);
}

body {
  font-family: PinkChicken;
  font-weight: 300;
  background-image: url("../media/background.jpg");
  background-size: cover;
}

p {
  text-align: center;
  color: white;
  font-weight: 100;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#otherButtonsRow {
  display: grid;
  row-gap: 5px;
  position: absolute;
  left: 91%;
  z-index: 2;
}

.otherButtons {
  width: 48px;
  height: 48px;
  color: white;
  font-family: PinkChicken;
  font-weight: 800;
  font-size: 20px;
  background-image: url("../media/backgroundTexture.jpg");
  background-size: cover;
  border: solid 5px #4e2c0b;
  border-radius: 3px;
}

#otherButtonsRowRight {
  display: grid;
  row-gap: 5px;
  position: absolute;
  right: 91%;
  z-index: 3;
}

#graphicsMenu {
  
}

#mainContent {
  margin: 2%;
  z-index: 1;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.fractionLine {
  margin: -2%;
}

.resultOperator {
  margin: -2%;
}

#controlButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1%;
}

.element {
    position: relative;
    margin: 3px !important;
    padding: 10px;
    background-color: lightgray;
    background-image: url(../media/backgroundTexture.jpg);
    background-size: cover;
    border: solid 3px #4e2c0b;
    border-radius: 5%;
    text-align: center;
}

.equalSign {
  position: absolute;
  z-index: 5;
  top: 19%;
  left: 89%;
  background-color: #7d4714;
  border: solid 3px #4e2c0b;
  border-radius: 13px;
  height: 23%;
  width: 24%;
  padding: 1%;
}

.opSign {
  position: absolute;
  z-index: 5;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 3px #4e2c0b;
  font-size: 100%;
  text-anchor: middle;
  width: 15%;
  border-radius: 43%;
  background-image: url("../media/backgroundTexture.jpg");
}

#sign1 {
  text-align: center;
  height: fit-content;
}

label {
  color: white;
  font-weight: bold;
  font-size: 120%;
}

input {
  background-color: #7d4714;
  border: solid 3px #4e2c0b;
  border-radius: 2px;
  color: white;
  font-family: PinkChicken;
  font-size: large;
}

input:active {
  outline: none;
}

.functionButton {
  padding: 1%;
  margin: 3px;
  background-color: #0e401e;
  color: white;
  font-size: large;
  border: 4px solid #093316;
  font-family: PinkChicken;
  border-radius: 3px;
}

.functionButton:hover {
  background-color: #167536;
  transition: background-color 0.2s ease-in-out;
}

.functionButton:active {
  background-color: #204eb2;
  border: 4px solid #FFFFFF;
}

#commentBox {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  border-radius: 20px;
  border: 8px solid;
  border-color: #4e2c0b;
  background-color: #7d4714;
  background-image: url("../media/backgroundTexture.jpg");
  color:white;
  font-size: 150%;
}

#keyboardGrid {
  grid-column: 1;
  align-self: flex-start;
  display: grid;
  /*padding: 3%;*/
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin: 5%;
}

.keyboardButton {
  font-size: larger;
  color: white;
  border: 10%;
  background-color: #a05d1e;
  border-color: #FFFFFF;
  border-radius: 5px;
  /*padding-inline: 120%;
  margin: 10%;*/
  font-family: PinkChicken;
  z-index: 2;
}

.keyboardButton:hover {
	background-color: #ca8d53;
}

#navGrid {
  grid-column: 3;
  display: grid;
  grid-template-rows: 3fr 3fr 3fr;
  grid-template-columns: 3fr 3fr 3fr;
  padding-inline-end: 5%;
  column-gap: 7%;
}

.navButton {
  font-size: larger;
  color: white;
  border: 10%;
  background-color: #a05d1e;
  border-color: #FFFFFF;
  border-radius: 5px;
  font-family: PinkChicken;
  /*padding-inline: 20px;*/
}

.navButton:hover {
	background-color: #ca8d53;
}

#navButtonA {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#navButtonMinus {
  grid-row: 3 / 3;
  grid-column: 2 / 3;
}

#navButtonB {
  grid-row: 3 / 3;
  grid-column: 1 / 1;
}

#navButtonD {
  grid-row: 3 / 3;
  grid-column: 3 / 3;
}

#navButtonAdd {
  grid-column: 2 / 3;
}

#helpText {
  grid-column: 2;
  text-align: center;  
}

#commentPa1 {
  font-size: medium;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background-image: url("../media/backgroundTexture.jpg");
  border-right: solid 3px #4e2c0b;
  padding: 10px;
  box-sizing: border-box;
  display: unset;
  z-index: 6;
  color: white;
  overflow-y: auto;
  transition: all 0.3s ease;
}

hr {
  height: 4px;
  border: none;
  border-radius: 3px;
  background-color: rgb(182, 114, 59);
}

a {
  font-size: large;
  color: #b3d9ff;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
}

.sidebarRight {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-image: url("../media/backgroundTexture.jpg");
  border-left: solid 3px #4e2c0b;
  padding: 10px;
  box-sizing: border-box;
  display: unset;
  z-index: 6;
  color: white;
  overflow-y: auto;
  transition: all 0.3s ease;
  text-align: end;
}

.chartCanvas {
  width:100%;
  height: 100%;
  max-height: 700px;
}

#fractionChartSimplified {
  display: none;
}