#tutorialImage {
    position: fixed;
    max-width: 35%;
    min-width: 10%;
    left: 20%;
    right: 80%;
    transform: translate(-50%);
    top: 3%;
    margin: 2%;
    border: 10px #1c130a solid;
    border-radius: 15px;
    max-height: 68%;
}

#tutorialTitle {
    position: fixed;
    left: 42%;
    right: 2%;
    top: 0%;
    bottom: 100%;
}

#tutorialText {
    position: fixed;
    top: 24%;
    left: 42%;
    right: 3%;
    font-size: large;
}

.tutorialButtonNav{
    position: fixed;
    bottom: 2%;
    top: 85%;
    width: 10%;
}

#tutorialBack {
    left: 1%;
}

#tutorialNext {
    right: 1%;
}

#tutorialClose {
    position: fixed;
    right: 1%;
    top: 2%;
    bottom: 84%;
    width: 7%;
    font-size: 150%
}

.tutorialButton {
    border: 7px #1c130a solid;
    /*! border-top-style: 10px; */
    border-radius: 25px;
    background: #281b0e;
    color: wheat;
}